@import "tailwindcss";

@layer base {
  :root {
    font-family: theme(fontFamily.mono);
  }

  body {
    @apply font-mono;
  }

  body,
  button,
  input,
  textarea,
  select {
    font-family: inherit;
  }
}
